## 스타벅스 분석 데이터 만들기

In [1]:
# 라이브러리
import pandas as pd

In [9]:
# 시군구 목록 데이터 불러오기
seoul_sgg = pd.read_excel('../seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [14]:
# 서울시 스타벅스 매장 목록 데이터 불러오기
seoul_starbucks = pd.read_excel('../seoul_starbucks_list.xlsx')
seoul_starbucks.head()

FileNotFoundError: [Errno 2] No such file or directory: '../seoul_starbucks_list.xlsx'

In [11]:
# 시군구별 스타벅스 매장 수 세기
starbucks_sgg_count = seoul_starbucks.pivot_table(
                                                index = '시군구명', 
                                                values='매장명', 
                                                aggfunc='count'
                                                ).rename(columns={'매장명':'스타벅스_매장수'})
starbucks_sgg_count.head()

KeyError: '매장명'

In [12]:
# 서울시 시군구 목록 데이터에 스타벅스 매장 수 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='시군구명')
seoul_sgg.head()

NameError: name 'starbucks_sgg_count' is not defined

In [9]:
# 서울시 시군구별 인구통계 데이터 불러오기
seoul_sgg_pop = pd.read_excel('../sgg_pop.xlsx')
seoul_sgg_pop.head()

  시군구명   주민등록인구
0  종로구  260,446
1  종로구   47,522
2  종로구    4,601
3  종로구    3,454
4  종로구    3,447

In [10]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 인구통계 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드 시군구명         위도          경도  스타벅스_매장수  주민등록인구
0  11320  도봉구  37.665861  127.031767         4  72,939
1  11320  도봉구  37.665861  127.031767         4   3,831
2  11320  도봉구  37.665861  127.031767         4   5,572
3  11320  도봉구  37.665861  127.031767         4   4,182
4  11320  도봉구  37.665861  127.031767         4   2,093

In [12]:
# 서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합
seoul_sgg_biz = pd.read_excel('../sgg_biz.xlsx')
seoul_sgg = pd.merge(
    seoul_sgg, 
    seoul_sgg_biz,
    how='left',
    on='시군구명'
)
seoul_sgg.head()

   시군구코드 시군구명         위도          경도  스타벅스_매장수  주민등록인구    종사자수    사업체수
0  11320  도봉구  37.665861  127.031767         4  72,939  72,939  18,628
1  11320  도봉구  37.665861  127.031767         4   3,831  72,939  18,628
2  11320  도봉구  37.665861  127.031767         4   5,572  72,939  18,628
3  11320  도봉구  37.665861  127.031767         4   4,182  72,939  18,628
4  11320  도봉구  37.665861  127.031767         4   2,093  72,939  18,628

In [13]:
# 병합 결과를 엑셀 파일로 저장
seoul_sgg.to_excel('../seoul_sgg_stat.xlsx', index=False)